<%- include('../../components/header') %>

<link href="/stylesheets/newsletters.css" rel="stylesheet">

<div class="container">
    <div>
        <ul class="list-unstyled">
            <% posts.forEach(function (post){ %>
            <li class="media my-5">
                <img class="d-flex mr-3 poster" src="<%- post.poster %>" alt="Poster image">
                <div class="media-body">
                    <h5><a href="/posts/<%= section %>/<%= post._id %>"> <%- post.title %></a></h5>
                    <div class="text-muted">
                        <p>
                            <small>
                                <%= post.created_at %> by <a href="#"><%- post.author.name %></a>
                                <span> 浏览(<%= post.pv %>)</span>
                                <span> 评论(<%= post.commentsCount %>)</span>
                            </small>
                        </p>
                    </div>
                    <p><%- post.content %></p>
                </div>
            </li>
            <% }) %>
        </ul>

        <%- include('../../posts-components/pagination') %>
    </div>
</div>

<%- include('../../components/footer') %>

<script src="/javascripts/newsletters.js"></script>

<%- include('../../components/script') %>