<%- include('../../components/header') %>

<link href="/stylesheets/posts/newsletters.css" rel="stylesheet">

<link rel="stylesheet" href="/stylesheets/lib/highlight.default.css">
<script src="/javascripts/lib/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2 my-3">
            <%- include('../../posts-components/post-content-complete') %>
            <%- include('../../posts-components/comments') %>
        </div>
    </div>
</div>

<%- include('../../components/footer') %>
<%- include('../../components/script') %>