<%- include('../header') %>

<div class="container-fluid">
<div class="row">
    <div class="col-2 bg-faded">
        <%- include('../components/menu') %>
    </div>
    <div class="col-10  blog-sidebar">
        <%- section%>
    </div>
</div>
</div>

<%- include('../footer') %>

<%- include('../script') %>