<%- include('../header') %>

<div class="row">
    <div class="col-3 bg-faded">
        <%- include('../posts-components/menu') %>
    </div>
    <div class="col-9  blog-sidebar">
        <%- include('../post-components/post-content') %>
        <%- include('../post-components/comments') %>
    </div>
</div>

<%- include('../footer') %>