<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h3 class="blog-post-title"><a href="/cfd/<%= post._id %>"><%- post.title %></a></h3>
                <p class="blog-post-meta"><%= post.created_at %> by <a href="#"><%- post.author.name %></a></p>
                <span>浏览(<%= post.pv %>)</span>
                <span>评论(<%= post.commentsCount %>)</span>
            </div>
        </div>
    </div>
</div>