<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title"><%- post.title %></h2>
                <p class="blog-post-meta"><%= post.created_at %> by <a href="#"><%- post.author.name %></a></p>
                <p><%- post.content %></p>
                <span>浏览(<%= post.pv %>)</span>
                <span>评论(<%= post.commentsCount %>)</span>
                <% if(user && post.author._id && user._id.toString() === post.author._id.toString() ) { %>
                <div class="dropdown">
                    <i href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></i>
                    <ul class="dropdown-menu">
                        <li><a href="/cfd/<%= post._id %>/edit">edit</a></li>
                        <li><a href="/cfd/<%= post._id %>/delete">delete</a></li>
                    </ul>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>