<%- include header %>

<div class="container my-3" style="width: 60%">
    <form method="post">
        <div class="form-group row">
            <label class="col-2 col-form-label" for="post-title">标题</label>
            <div class="col-10">
                <input class="form-control" type="text" name="title" id="post-title" <% if (post) { %> value="<%= post.title%>" <% } %>>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="post-section">Section：</label>
            <div class="col-10">
                <select class="form-control" name="section" id="post-section" onchange="changeSection()">
                    <option <% if (post && post.section == 'cfd') { %> selected <% } %> value="cfd">CFD</option>
                    <option <% if (post && post.section == 'openfoam') { %> selected <% } %> value="openfoam">OpenFoam</option>
                    <option <% if (post && post.section == 'softwares') { %> selected <% } %> value="softwares">Softwares</option>
                </select>
            </div>
        </div>
        <div class="form-group row" id="form-group-index" >
            <label class="col-2 col-form-label" for="post-index">Index：</label>
            <div class="col-10">
                <input type="text" class="form-control" name="index" id="post-index" <% if (post) { %> value="<%= post.index%>" <% } %>
                       placeholder="examples: 1, 2, 1.1, 2.5...">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label" for="post-file">正文:</label>
            <div class="col-3">
                <input type="file" name="postFile" class="form-control-file" id="post-file">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="post-img">Insert</label>
            <div class="col-3 ">
                <input type="file" name="post-img" class="form-control-file" id="post-img">
            </div>
        </div>

        <div class="form-group">
            <textarea class="form-control" name="content" id="post-content" rows="10"><% if (post) { %> <%= post.content%> <% } %></textarea>
        </div>
        <button type="submit" class="btn btn-info">发表</button>
    </form>
</div>

<%- include footer %>

<script src="/js/publish.js"></script>

<%- include('script') %>