<%- include('header') %>

<script src="js/profile.js"></script>

<div class="container">
    <form class="form-signup col-8 offset-2 my-5" method="post" enctype="multipart/form-data">

        <h2 class="form-signup-heading my-4">Personnal Profile</h2>

        <div class="row">
            <div class="col-4">
                <img id="avatarPreview" src="<%= user.avatar %>" class="d-flex mr-3 rounded-circle" alt="Avatar"
                     width="100px" height="100px">
                <input type="file" id="avatar" name="avatar" onchange=uploadAvatar()>
                <h4 class="my-2">用户名: <%= user.name %></h4>
                <h5 class="my-2">Email: <%= user.email %></h5>
            </div>
            <div class="col-7 offset-1">
                <div class="form-group">
                    <label for="bio">Bio:</label>
                    <input class="form-control" type="text" id="bio" name="bio" value="<%= user.bio %>">
                </div>
                <button class="btn btn-lg btn-primary" type="submit">保存</button>
            </div>
        </div>
    </form>

</div> <!-- /container -->

<%- include('footer') %>
<%- include('script') %>