<%- include('components/header') %>

<link href="/stylesheets/profile.css" rel="stylesheet">
<script src="javascripts/profile.js"></script>

<div class="container">
    <form class="form-profile col-8 offset-2 my-5" method="post" enctype="multipart/form-data">

        <h4 class="form-profile-heading my-4">Personnal Profile</h4>

        <div class="row">
            <div class="col-4">
                <img class="d-flex mr-3 rounded-circle mx-auto d-block" id="avatarPreview" src="<%= user.avatar %>"
                     alt="Avatar"
                     width="150px" height="150px">
                <label class="custom-file my-2">
                    <input type="file" class="custom-file-input" id="avatar" name="avatar" onchange=uploadAvatar()>
                    <span class="custom-file-control"></span>
                </label>
            </div>
            <div class="col-7 offset-1">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">用户名:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"><%= user.name %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">邮箱:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"><%= user.email %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="bio">简介:</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="bio" name="bio" value="<%= user.bio %>">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">保存</button>
            </div>
        </div>
    </form>

</div> <!-- /container -->

<%- include('components/footer') %>
<%- include('components/script') %>