<%- include('components/header') %>

<link href="/stylesheets/signup.css" rel="stylesheet">

<div class="container">

    <form class="form-signup" method="post">
        <h3 class="form-signup-heading">注册</h3>

        <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" class="form-control" id="email" name="email"
                    <% if (!(typeof email == 'undefined')) { %>
                   value="<%= email %>"
                    <% } %>
                   placeholder="hello.world@oceany.com" required autofocus>
        </div>

        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username" name="username"
                    <% if (!(typeof username == 'undefined')) { %>
                   value="<%= username %>"
                    <% } %>
                   placeholder="4到24位" required>
        </div>

        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password"
                    <% if (!(typeof password == 'undefined')) { %>
                   value="<%= password %>"
                    <% } %>
                   placeholder="不少于4位" required>
        </div>

        <div class="form-group">
            <label for="repassword">确认密码</label>
            <input type="password" class="form-control" id="repassword" name="repassword"
                    <% if (!(typeof repassword == 'undefined')) { %>
                   value="<%= repassword %>"
                    <% } %>
                   placeholder="不少于4位"
                   required>
        </div>

        <button class="btn btn-primary btn-lg btn-block my-3" type="submit">注册</button>
    </form>
</div> <!-- /container -->

<%- include('components/footer') %>
<%- include('components/script') %>