<%- include('../components/header') %>

<div class="container">
    <%- include('introduction') %>
    <%- include('images') %>
</div>

<%- include('../components/footer') %>
<%- include('../components/commonScript') %>

</body>
</html>