<%- include('../header') %>

<div class="container">
    <div class="blog-header">
        <p>softwares posts part</p>
        <p>本栏目介绍可以应该用在海洋工程领域的开源软件</p>
    </div>
    <div class="row">
        <div class="col-8 offset-2 blog-main">
            <% posts.forEach(function (post) { %>
            <%- include('../posts-components/post-content', {post: post,section:section}); %>
            <% }) %>
            <%- include('../posts-components/pagination') %>
        </div>
        <div class="col-2  blog-sidebar">
            <%- include('../posts-components/sidebar') %>
        </div>
    </div>
</div>

<%- include('../footer') %>