<%- include('../header') %>

<link rel="stylesheet" href="/css/highlight.default.css">
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div class="container">
    <div class="blog-header">
        <p>softwares single post part</p>
    </div>
    <div class="row">
        <div class="col-3  blog-sidebar" style="background: gainsboro">
            <%- include('../post-components/sidebar') %>
        </div>
        <div class="col-9 blog-main">
            <%- include('../post-components/post-content') %>
            <%- include('../post-components/comments') %>
        </div>
    </div>
</div>

<%- include('../footer') %>