<%- include('../header') %>

<div class="container">
    <div class="blog-header">
        <p>cfd single post part</p>
    </div>
    <div class="row">
        <div class="col-sm-2  blog-sidebar">
            <%- include('../post-components/sidebar') %>
        </div>
        <div class="col-sm-9 col-sm-offset-1 blog-main">
            <%- include('../post-components/post-content') %>
            <%- include('../post-components/comments') %>
        </div>
    </div>
</div>

<%- include('../footer') %>