<%- include('../header') %>

<link rel="stylesheet" href="/css/highlight.default.css">
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div class="row">
    <div class="col-3 bg-faded">
        <%- include('../components/menu') %>
    </div>
    <div class="col-9">
        <%- include('../post-components/post-content') %>
        <%- include('../post-components/comments') %>
    </div>
</div>

<%- include('../footer') %>