<%- include('../header') %>

<link href="/stylesheets/newsletters.css" rel="stylesheet">

<div class="container">
    <div>
        <ul class="list-unstyled">
            <% posts.forEach(function (post){ %>
            <li class="media">
                <img class="d-flex mr-3" src="..." alt="Generic placeholder image">
                <div class="media-body">
                    <h5><%- post.title %></h5>
                    <p><%= post.created_at %> by <a href="#"><%- post.author.name %></a></p>
                    <span>浏览(<%= post.pv %>)</span>
                    <span>评论(<%= post.commentsCount %>)</span>
                    <p><%- post.content %></p>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</div>

<%- include('../footer') %>
<%- include('../script') %>