<div>
    <h3>Comments: </h3>
    <div class="content">
        <% comments.forEach(function (comment) { %>
        <div class="media my-1" style="border-bottom: .05rem solid #e5e5e5;border-top: .05rem solid #e5e5e5;">
            <div class="d-flex align-self-start mr-3" style="height:64px;width:64px;">
                <img class="mx-auto" src="<%= comment.author.avatar %>" alt="avatar"
                     style="max-height: 64px; max-width:64px">
            </div>
            <div class="media-body">
                <span class="mt-0">Created at <%- comment.created_at %></span>
                <span> by: <%- comment.author.name %></span>
                <p> <%- comment.content %></p>
            </div>
            <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
            <div>
                <a href="/cfd/<%= post._id %>/comments/<%= comment._id %>/delete">删除</a>
            </div>
            <% } %>
        </div>
        <% }) %>
        <% if (user) { %>
        <form method="post" action="/cfd/<%= post._id %>/comment">
            <div class="form-group">
                <textarea class="form-control" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">留言</button>
        </form>
        <% } %>
    </div>
</div>