<div>
    <h3>Comments: </h3>
    <div class="content">
        <% comments.forEach(function (comment) { %>
        <div class="media my-1" style="border-bottom: .05rem solid #e5e5e5;border-top: .05rem solid #e5e5e5;">
            <img class="d-flex align-self-start mr-3" src="..." alt="img">
            <div class="media-body">
                <h5 class="mt-0"><%- comment.created_at %></h5>
                <p> <%- comment.content %></p>
                <p> <%- comment.author.name %></p>
            </div>
            <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
            <div>
                <a href="/cfd/<%= post._id %>/comments/<%= comment._id %>/delete">删除</a>
            </div>
            <% } %>
        </div>
        <% }) %>
        <% if (user) { %>
        <form method="post" action="/cfd/<%= post._id %>/comment">
            <div class="form-group">
                <textarea class="form-control" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">留言</button>
        </form>
        <% } %>
    </div>
</div>