<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <p class="blog-post-meta"><%= post.created_at %> by <a href="#"><%- post.author.name %></a></p>
                <p><%- post.content %></p>
                <span>浏览(<%= post.pv %>)</span>
                <span>评论(<%= post.commentsCount %>)</span>
                <% if(user && post.author._id && user._id.toString() === post.author._id.toString() ) { %>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown">
                        Edit
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/posts/<%= section %>/<%= post._id %>/edit">edit</a>
                        <a class="dropdown-item" href="/posts/<%= section %>/<%= post._id %>/delete">delete</a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>