<%- include('../header') %>

<link href="/css/posts.css" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-faded collapse show width" id="sidebar">
            <%- include('menu') %>
        </div>
        <div class="col-9  blog-sidebar">
            <a data-toggle="collapse" href="#sidebar">
                <i class="fa fa-navicon fa-lg"></i>
            </a>
            <div id="content">
                <%- section %>
            </div>
        </div>
    </div>
</div>

<%- include('../footer') %>

<script src="/js/posts.js"></script>

<%- include('../script') %>