<div>
    <h5 class="ml-4">Index <a href="/menu/<%- section %>"><span class="fa fa-pencil-square-o"></span></a></h5>
</div>
<ul class="nav flex-column">
    <% menuItems.forEach(function (menuItem) { %>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse"
           href="#cfd<%- menuItem.index %>"><%- menuItem.index %> <%- menuItem.title %></a>
        <div class="collapse" id="cfd<%- menuItem.index %>">
            <% posts.forEach(function (post) { if (post.menuIndex == menuItem.index) { %>
            <a class="nav-link ml-3 updatePost" href="" data-url="/posts/<%- section %>/<%= post._id %>">
                <%- menuItem.index %>.<%- post.index %> <%- post.title %>
            </a>
            <% }}) %>
        </div>
    </li>
    <% }) %>
</ul>