<%- include('../components/header') %>

<link href="/stylesheets/posts.css" rel="stylesheet">

<link rel="stylesheet" href="/stylesheets/lib/highlight.default.css">
<script src="/javascripts/lib/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 py-3 bg-faded sidebar collapse show width" id="sidebar">
            <%- include('menu') %>
        </div>
        <div class="col-9" id="main">
            <a data-toggle="collapse" href="#sidebar">
                <i class="fa fa-navicon fa-lg"></i>
            </a>
            <div class="row">
                <div class="col-10 offset-1" id="content">
                    <%- include('../posts-components/post-content-complete') %>
                    <%- include('../posts-components/comments') %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../components/footer') %>

<script src="/javascripts/posts.js"></script>

<%- include('../components/script') %>