<div class="post-content">
    <h3><%- post.title %></h3>
    <p class="text-muted">
        <i class="fa fa-clock-o" aria-hidden="true"></i> <%= post.created_at %> by <a
                href="#"><%- post.author.name %></a>
    </p>
</div>

<hr class="my-3">

<div class="post-content">
    <p><%- post.content %></p>
</div>

<hr class="my-3">

<div class="text-muted">
    <div>
        <span class="post-meta-right-child">浏览(<%= post.pv %>)</span>
        <span class="post-meta-right-child">评论(<%= post.commentsCount %>)</span>

        <% if(user && post.author._id && user._id.toString() === post.author._id.toString() ) { %>
        <span class="dropdown">
            <span data-toggle="dropdown"> <span class="fa fa-caret-down" aria-hidden="true"></span></span>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/posts/<%= section %>/<%= post._id %>/edit">编辑</a>
                <a class="dropdown-item" data-href="/posts/<%= section %>/<%= post._id %>/delete" data-toggle="modal"
                   data-target="#confirm-delete">删除</a>
            </div>
        </span>
        <% } %>
    </div>
</div>

<hr class="my-3">