<div class="container">
    <div class="row">
            <div class="blog-posts">
                <h3 class="blog-posts-title"><a href="/cfd/<%= post._id %>"><%- post.index %> <%- post.title %></a></h3>
                <p class="blog-posts-meta"><%= post.created_at %> by <a href="#"><%- post.author.name %></a></p>
                <span>浏览(<%= post.pv %>)</span>
                <span>评论(<%= post.commentsCount %>)</span>
            </div>
    </div>
</div>