<div class="container">
    <div class="row">
        <div class="blog-posts">
            <h5 class="blog-posts-title"><a href="/<%= section %>/<%= post._id %>"><%- post.index %> <%- post.title %></a></h5>
            <p class="blog-posts-meta"><%= post.created_at %> by <a href="#"><%- post.author.name %></a></p>
            <span>浏览(<%= post.pv %>)</span>
            <span>评论(<%= post.commentsCount %>)</span>
        </div>
    </div>
</div>