<div class="post-content">
    <p><%- post.content %></p>
</div>
<hr class="my-3">
<div class="text-muted">
    <p><%= post.created_at %> by <a href="#"><%- post.author.name %></a></p>
    <div>
        <span class="post-meta-right-child">浏览(<%= post.pv %>)</span>
        <span class="post-meta-right-child">评论(<%= post.commentsCount %>)</span>

        <% if(user && post.author._id && user._id.toString() === post.author._id.toString() ) { %>
        <div class="dropdown post-meta-right-child">
            <a data-toggle="dropdown"> <span class="fa fa-caret-down" aria-hidden="true"></span></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/posts/<%= section %>/<%= post._id %>/edit">编辑</a>
                <a class="dropdown-item" href="/posts/<%= section %>/<%= post._id %>/delete">删除</a>
            </div>
        </div>
        <% } %>
    </div>
</div>
<hr class="my-3">